.box_search{

}


.box_search .box_text h3, .box_text h4{
	margin-top: 10px !important;
	text-align: center;
	color: #ffff;
	margin-bottom: 10px !important;
}




.box_search p, .box_search ul li{
	color: #ffffff !important;
}


.box_search p{
	color: #ffffff !important;
}


.box_slider h2{
	text-align: center !important;
	margin-bottom: 20px !important;	
}